.pickupContainer
  .pickupContainer__title
    ピックアップカテゴリー
  .pickupContainer__new-items
    = link_to "新規投稿商品", "#", class:"pickupContainer__new-items--link"
  %ul.pickupContainer__products
    - @items_category.each_with_index do |item, n|
      .pickupContainer__products__item
        .pickupContainer__products__item__image
          = link_to item_path(item.id) do
            = image_tag item.images[0].src.url, size:'220x150'
        .pickupContainer__products__item__name
          = item.name[0,10]
          - if item.name.size > 9
            = "..."
        .pickupContainer__products__item__info
          .pickupContainer__products__item__info__price
            = number_to_currency(item.price)
            .pickupContainer__products__item__info__price__tax
              (税込)
            .pickupContainer__products__item__info__price__sale
              - if item.trading_status == "出品中"
                .pickupContainer__products__item__info__price__sale__blue
                  出品中
              - else
                .pickupContainer__products__item__info__price__sale__red
                  SOLD OUT

