.pickupBrand
  .pickupBrand__title
    ピックアップブランド
  .pickupBrand__new-items
    = link_to "アーカイバ", "#", class:"pickupBrand__new-items--link"
  %ul.pickupBrand__products
    - @items_category.each_with_index do |item, n|
      .pickupBrand__products__item
        .pickupBrand__products__item__image
          = link_to item_path(item.id) do
            = image_tag item.images[0].src.url, size:'220x150'
        .pickupBrand__products__item__name
          = item.name
        .pickupBrand__products__item__info
          .pickupBrand__products__item__info__price
            = number_to_currency(item.price)
            .pickupBrand__products__item__info__price__tax
              (税込)
            .pickupBrand__products__item__info__price__sale
              -# - if item.purchase
              -#   SOLD OUT
              -# - else
              -#   出品中
              .pickupBrand__products__item__info__price__sale__red
                SOLD OUT
              .pickupBrand__products__item__info__price__sale__blue
                出品中
