.alert
  - if alert 
    = alert 
.main
  = render 'items/topIntroduction'
  = render 'items/topReasons'
  = render 'items/topMiddleDl'
  = render 'items/topKeyFeatures'
  = render 'items/pickupContainer'
  = render 'items/pickupContainer'
