.show
  .show__container
    .show__container__top
      = @item.name
    .show__container__middle
      .show__container__middle__images
        = image_tag @item.images[0].src.url, size:'292x292', class: "show__container__middle__images__top"
        .show__container__middle__images__sub
          - @item.images.each_with_index do |image, i|
            - if i == 0
            - elsif i <= 10
              = image_tag image.src.url, size:'52x52', class: "show__container__middle__images__sub--child"
            - else
              - break
      .show__container__middle__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @user.nickname
            %tr
              %th
                カテゴリー
              %td
                = @parent.name
                %br
                = @child.name
                %br
                = @grandchild.name
            %tr
              %th
                ブランド
              %td
                - if @item.brand.present?
                  = @item.brand
                - else
                  = "-"
            %tr
              %th
                商品の状態
              %td
                = @item.condition
            %tr
              %th
                配送料の負担
              %td
                = @item.shipping_price
            %tr
              %th
                配送地域
              %td
                = @item.shipping_area
            %tr
              %th
                配送の目安
              %td
                = @item.shipping_days
            %tr
              %th
                出品状況
              %td
                = @item.trading_status
      .show__container__middle__prices
        .show__container__middle__prices--1
          = "¥#{@item.price.to_s(:delimited, delimiter: ",")}"
        .show__container__middle__prices--2
          (税込)
        .show__container__middle__prices--3
          送料込み
      - if current_user.id == @item.user_id
        .show__container__middle__edit
          = link_to edit_item_path(@item), class: "show__container__middle__edit--edit" do
            ="出品情報を編集"
          = link_to item_path(@item), method: :delete, class: "show__container__middle__edit--destroy" do
            ="出品をキャンセル"
      - else
        = link_to "#", class: "show__container__middle__buy" do
          ="購入画面に進む"


    .show__container__bottom
      .show__container__bottom__introduction
        = @item.introduction
