.header
  .wrapper
    .top
      = link_to "#", class: "logo" do
        = image_tag asset_path("logo.png"), class: "logo__img"
      %form{class: "searchBox"}
        %input{class: "searchBox__input", placeholder: "キーワードから探す"}
        %button{class: "searchBox__button", type: "submit"}
          = image_tag asset_path("icon-search 1.png"), class: "searchBox__button__img"
    .bottom
      %ul{class: "nav"}
        %li{class: "nav__item nav__item--first"}
          = link_to "カテゴリー", "#", class: "category_button" 
        %li{class: "nav__item"}
          = link_to "ブランド", "#", class: "brand_button"
      .userNav
        = link_to "ログイン", sign_in_path, class: "userNav__item"
        = link_to "新規会員登録", new_user_session_path, class: "userNav__item"